LoadPlugin write_prometheus
<Plugin write_prometheus>
   Port 9103
</Plugin>

<Plugin df>
</Plugin>

<Plugin processes>
</Plugin>

<Plugin protocols>
</Plugin>

<Plugin swap>
</Plugin>

<Plugin tcpconns>
</Plugin>

<Plugin uptime>
</Plugin>

<Plugin users>
</Plugin>

<Plugin vmem>
</Plugin>
